// @import "fonts";

//
// @import "normalize";
// @import "animate";

// Bootstrap ex:
// $navbar-default-bg: #ffffff;
// $navbar-height: 70px;
// $primary: $teazit-blue;
// @import "bootstrap";


body {
  width: 100%;
}

.toto {
  background: #000;
  text-align: center;
  margin: 0 auto;
}
